<!DOCTYPE html>
<html>
<head>
  <title>{{pageTitle}}</title>
  <meta charset="utf-8">
</head>
<body>
  <header>
    <h1>{{pageTitle}}</h1>
    <p>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
    </p>
  </header>
